<div class="container mx-auto mt-5">
  <div class="col-md-8 mx-auto">
    <div class="row">
      <div class="col-4 fs-6" style="color:red">*必填欄位</div>
      <div class="col-6 text-center fs-4">請輸入你的支出</div>
    </div>
    <form action="/records" method="POST">
      {{> form}}
      <div class="col-auto text-center mt-5">
        <button type="submit" class="btn btn-outline-primary">新增送出</button>
      </div>
    </form>
  </div>
</div>